
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #4267B2; 
  position: fixed;
  top: 0;
  width: 98%;
  color: white;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar-links {
  display: flex;
  align-items: center;
}

.search-bar {
  padding: 5px 10px;
  margin-right: 20px;
  border: none;
  border-radius: 15px;
}

.icon {
  margin-left: 15px;
  cursor: pointer;
}


.container {
  margin-top: 60px; 
  display: flex;
  justify-content: center;
  background-color: #f0f2f5; 
}

.feed {
  width: 600px; 
}

.post {
  background-color: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.post-header {
  display: flex;
  align-items: center;
}

.profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.post-actions {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  padding: 10px 0 20px;
}

.post-actions button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.post-actions button:hover {
  background-color: #e9ebee;
}

.comments-section {
  margin-top: 15px;
}

.comment {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.comment .profile-pic {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
